.bCard{
    text-align: center;  
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    background: var(--glow-color) ;
    

}

.divCount{
    margin-top: 2.8rem;
    font-weight: bold;
    
}
