@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


:root{
  --bg-color:#ffc9ec;
  --letra-color: #584391;
  --boton-color: #ec95ff;
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
}

*{
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;

}

body{
  text-align: center;
  background-image: url(./img/bg-img.jpg);
  /*
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  */
}

