*{
  box-sizing: border-box;
  margin: 0 ;
  background-color: #fff4f4 ;
  text-align: center;
  
}

.contenedorClick{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(105, 105, 105);
  font-size: large;
}