.card {
    color: var(--letra-color);
    width: 25%;
    margin: 1rem;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
    text-align: center;
    background: var(--bg-color-card);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 255, .2);
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.card:hover {
    box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}

.imgCard{
    width: 100%;
    
    text-align: center;
    
    display: block;
    
}

.nameCard{
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding-top: 2rem;
    color: var(--letra-color);
}

.gallery{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}



.priceCard{
    padding: 20px 15px;
    font-size: 25px;
    text-align: center;
    color: #222f3e;
    margin: 0;

}

@media (max-width:900px) {
    .card{
        width: 50%;
    }
        
}
   
   



